secrets:
    unifi_db_pass:
        file: ${PWD}/secrets/unifi_db_pass
    
networks: 
    frontend_traefik:
        name: frontend_traefik
    backend_unifi:
        name: backend_unifi

services:
    unifi:
        image: linuxserver/unifi-network-application:10.1.85
        hostname: unifi
        container_name: unifi
        secrets:
            - unifi_db_pass
        environment:
            - PUID=${DOCKER_USER_ID:-1000}
            - PGID=${DOCKER_GROUP_ID:-1000}
            - TZ
            - MONGO_USER=unifi
            - FILE__MONGO_PASS=/run/secrets/unifi_db_pass
            - MONGO_HOST=unifi-db
            - MONGO_PORT=27017
            - MONGO_DBNAME=unifi
        volumes:
            - ${PWD}/data/unifi/app:/config
        ports:
            - 3478:3478/udp # Unifi STUN port
            - 10001:10001/udp # Required for AP discovery
            - 8080:8080 # Required for device communication
        restart: unless-stopped
        depends_on:
            - unifi-db
        networks: 
            - frontend_traefik
            - backend_unifi
        labels:
            - traefik.enable=true
            - traefik.http.routers.unifi.rule=Host(`unifi.${PROXY_DOMAIN}`)
            - traefik.http.routers.unifi.entrypoints=websecure
            - traefik.http.routers.unifi.middlewares=traefik-ipwhitelist
            - traefik.http.services.unifi.loadbalancer.server.port=8443
            - traefik.http.services.unifi.loadbalancer.server.scheme=https

    unifi-db:
        image: mongo:4.4
        hostname: unifi-db
        container_name: unifi-db
        restart: unless-stopped
        user: ${DOCKER_USER_ID:-1000}:${DOCKER_GROUP_ID:-1000}
        networks: 
            - backend_unifi
        volumes:
            - ${PWD}/data/unifi/db:/data/db  
            - ${PWD}/data/unifi/configdb:/data/configdb
            - ${PWD}/unifi/init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
        secrets:
            - unifi_db_pass
        environment:
            - PUID=${DOCKER_USER_ID:-1000}
            - PGID=${DOCKER_GROUP_ID:-1000}